body {
  animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #ffaeff;
  }
  50% {
    background-color: #ffd6ff;
  }
  100% {
    background-color: #ffc8ff;
  }
}
