body {
  animation: changeBackgroundColor 7s infinite;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #eabaacf;
  }
  50% {
    background-color: #be3400;
    color: #fff;
  }
  100% {
    background-color: #020d22;
    color:#fff;
  }
}

.card-hover{
  transition: background 2s,  transform 2s, linear;
  position: relative ;
  &:hover {
    transform: rotateY(45deg);
    background: #eabaacf;
    & > .popup {
      opacity: 1;
          } 
  }
  
  .popup {
    transition: opacity 2s, linear, 3s;
    opacity: 0;
    position:absolute;
    width: 100%;
    background: #ff000096;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 10;
    backdrop-filter: saturate(200%);
    backdrop-filter: blur(5px);
  }
  
}


